body {
    font-family: Assistant;
    margin: 0px;
}

h1 {
    background-color: rgb(32, 42, 68);
    padding: 30px;
    margin: 0px;
    color: white;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgb(222, 222, 222);
}

h2 {
    text-align: center;
    padding: 20px;
}